.who__we__are {
  background-color: var(--white);
}

.who__we__are-con {
  width: 100%;
  padding: 10rem 0;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.who__we__are-txt {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--white);
  padding: 2em 2em 0em 2em;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.13);
  aspect-ratio: 1/1.2;
}

.divider {
  width: 9%;
  border: 6px solid blue;
  direction: ltr;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

.who__we__are-txt h2 {
  text-align: left;
  margin: 0% 31% 0% 0%;
  color: var(--color-heading);
}

.who__we__are-p {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0% 17% 0% 0%;
  padding: 0em 5em 0em 0em;
  border-style: solid;
  border-width: 0px 3px 0px 0px;
  border-color: #000000;
  line-height: 1.5;
}

.who__we__are-btn {
  margin: 1.5rem 0;
}

.about__img {
  width: 50%;
  background-color: var(--white);
  border-style: solid;
  border-width: 0px 0px 5px 0px;
  border-color: var(--white);
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.5);
  margin-left: -8%;
  aspect-ratio: 1.5/1.6;
}

.about__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .about__img .react-slideshow-container .default-nav {
  display: none;
} */

.fi {
  font-size: 1.3rem;
  font-weight: 700;
}

@media screen and (max-width: 900px) {
  .who__we__are-con {
    flex-direction: column;
  }

  .who__we__are-txt {
    width: 100%;
    padding-bottom: 1rem;
    align-items: flex-start;
  }

  .who__we__are-txt h2 {
    text-align: left;
    margin: 0;
  }

  .who__we__are-p {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0;
    padding: 0;
    /* padding: 0em 5em 0em 0em; */
    border: none;
  }

  .about__img {
    width: 100%;
    margin-left: 0;
    margin-top: 3rem;
  }

  .divider {
    width: 20%;
  }
}

/* =====================================================
                      WHYUS SECTION
 ====================================================== */
.whyus__section {
  background-color: var(--white);
}

.whyus__container {
  position: relative;
  padding: 10rem 0;
}

.whyus__bg-img {
  position: absolute;
  right: -4%;
  top: 15%;
}

.whyus__wrapper {
  margin-top: 5rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* align-items: flex-start; */
  gap: 2rem;
}

.whyus-img {
  background-color: var(--white);
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto;
}

.whyus__card {
  background: #eaf8f6;
  height: 100%;
  padding: 40px 30px;
  border-radius: 5px;
  transition: 0.4s;
  /* position: relative; */
  z-index: 2;
}

.whyus__card:nth-child(2) {
  background: #fff3ee;
}

.whyus__card:nth-child(3) {
  background: #eff4fc;
}

.whyus__card:nth-child(4) {
  background: #fff1f1;
}

.whyus__card:nth-child(5) {
  background: #fff3ee;
}

.whyus__card:nth-child(7) {
  background: #fff1f1;
}

.whyus__card:nth-child(8) {
  background: #eff4fc;
}

.whyus__card h6 {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 15px;
  margin-top: 25px;
  color: var(--color-heading);
}

.whyus__card p {
  line-height: 1.63;
  font-weight: 500;
  color: var(--color-body);
  margin: 0 0 30px;
}

.shape-list {
  position: relative;
  /* transition: all 0.2s ease-in; */
  z-index: -1;
}

.shape-1 {
  position: absolute;
  top: -15px;
  right: 40%;
  opacity: 0;
  transition: all 0.3s ease-in;
}

.whyus__card:hover .shape-1 {
  position: absolute;
  top: 0;
  right: 40%;
  opacity: 1;
}

.shape-2 {
  position: absolute;
  top: -40px;
  left: 35%;
  opacity: 0;
  transition: all 0.3s ease-in;
}

.whyus__card:hover .shape-2 {
  position: absolute;
  top: -40px;
  left: 30%;
  opacity: 1;
}

.shape-3 {
  position: absolute;
  bottom: 60px;
  right: 40%;
  opacity: 0;
  transition: all 0.3s ease-in;
}

.whyus__card:hover .shape-3 {
  position: absolute;
  bottom: 70px;
  right: 40%;
  opacity: 1;
}

/* .whyus__card:hover .shape-list {
  opacity: 1;
} */

/* =================== MOBILE VIEW ===================== */
@media screen and (max-width: 1200px) {
  .whyus__bg-img {
    display: none;
  }
  .whyus__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .whyus__container {
    padding: 3rem 0;
  }

  .whyus__bg-img {
    display: none;
  }
  .whyus__wrapper {
    grid-template-columns: 1fr;
  }
}

/* ================================== 
FREE TRIAL CLASS 
====================================*/
.workshop__section {
  background-color: #525fe1;
  background-image: url("../../assets/bg/about-us-thinktech-trial-class.jpg");
  background-repeat: no-repeat;
  /* background-position: center center; */
  background-size: cover;
}
.workshop__container {
  padding: 10rem 0;
  display: flex;
  align-items: center;
  gap: 5rem;
}

.workshop__content {
  width: 45%;
  color: var(--white);
}

/* .workshop__content span {
  color: var(--white);
} */

.workshop__content h2 {
  color: var(--white);
}

.workshop__content p {
  padding: 2rem 0;
  line-height: 2;
  font-weight: 500;
}

.workshop__free {
  display: flex;
}

.workshop__take-away {
  margin-inline: auto;
  text-align: center;
  background: transparent;
  /* background: var(--white); */
  box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.06);
  border: 1px solid var(--white);
  border-radius: 5px;
  margin: 0px 30px 0px 0px;
  padding: 50px 30px 50px 30px;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.workshop__take-away:hover {
  background: var(--white);
}

.workshop__take-away img {
  margin-bottom: 20px;
  /* width: 50px; */
}

.workshop__free-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 2rem;
  color: var(--white);
}

.free {
  /* color: #54595f; */
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 26px;
}

.workshop__img {
  width: 50%;
}

.workshop__img img {
  width: 100%;
  object-fit: cover;
}

.workshop__take-away:hover .workshop__free-title {
  color: var(--color-heading);
}

.workshop__take-away:hover .free {
  color: #54595f;
}

.workshop__img img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.workshop-btn {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  /* background: var(--semi-darkBlue); */
  background: var(--dark-blue);
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  border: none;
  outline: none;
  border-radius: 6px 6px 6px 6px;
  padding: 25px 35px 25px 35px;
  width: fit-content;
  transition: all 300ms ease-in;
}

.workshop-btn:hover {
  /* color: #ffffff; */
  color: var(--primary);
  background-color: var(--white);

  border-style: solid;
  border-width: 1px 1px 1px 1px;
  /* border-color: #f86f03; */
}

/* ================================== 
MOBILE VIEW 
=====================================*/

@media screen and (max-width: 1200px) {
  .workshop__take-away {
    padding: 25px;
  }
}

@media screen and (max-width: 900px) {
  .workshop__container {
    flex-direction: column;
    /* align-items: flex-start; */
  }

  .workshop__content {
    width: 100%;
    color: var(--white);
  }

  .workshop__free {
    flex-direction: column;
    gap: 1.5rem;
  }

  .workshop__take-away {
    padding: 40px 10px 40px 10px;
    margin: 0;
  }

  .workshop-btn {
    font-size: 15px;
    padding: 20px 35px 20px 35px;
  }

  .workshop__img img {
    display: none;
  }
}

/* ============================================ 
ABOUT TEAM  
===============================================*/
.about__team-section {
  background: var(--white);
}

.about__team-container {
  position: relative;
  padding: 10rem 0;
}

.about__team-title {
  margin-bottom: 5rem;
}

.about__team-bg {
  position: absolute;
  left: -40px;
  width: 180px;
}

.about__team-bg img {
  width: 100%;
  /* height: 100%; */
}

.team__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-inline: auto;
  place-items: center;
  /* align-items: center; */
}

.team__card {
  position: relative;
  transition: all 0.3s ease;
  margin-inline: auto;
}

.team__card-inner {
  position: relative;
}

.team__card-inner::after {
  background: linear-gradient(
    180deg,
    rgba(45, 40, 78, 0) 0.01%,
    rgba(45, 40, 78, 0) 15.58%,
    rgba(45, 40, 78, 0.75) 100%
  );
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 350px;
  height: 100%;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 185px 185px 5px 5px;
}

.hover-items {
  position: absolute;
  z-index: 2;
  bottom: 40px;
  width: 350px;
  text-align: center;
}

.hover__icons {
  background: transparent;
}

.hover__icons .icon {
  width: 40px;
  height: 40px;
  line-height: 43px;
  display: inline-block;
  opacity: 0;
  visibility: hidden;
  transition: all 0.45s cubic-bezier(0.23, 0.88, 0.34, 0.99);
  transform: translateY(8px) scale(0.8);
  font-size: 18px;
  margin: 3px;
  background-color: var(--white);
  color: var(--color-primary);
  border-radius: 100%;
  border: none;
  outline: none;
}

.hover__icons .icon:hover {
  background-color: var(--color-primary);
  color: var(--white);
}

.hover__icons .icon:nth-child(1) {
  transition-delay: 0.07692s;
}

.hover__icons .icon:nth-child(2) {
  transition-delay: 0.15385s;
}

.hover__icons .icon:nth-child(3) {
  transition-delay: 0.23077s;
}

.hover__icons .icon:nth-child(4) {
  transition-delay: 0.31077s;
}

.team__img {
  width: 350px;
  height: 400px;
  /* height: 100%; */
}

.team__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 185px 185px 5px 5px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.thinktech__instructor-info {
  /* width: 450px; */
  width: 350px;
  margin-top: 25px;
}

.thinktech__instructor-info h5 {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 18px;
}

.thinktech__instructor-desc {
  display: inline-block;
  color: var(--color-body);
  font-weight: 500;
  font-size: 16px;
  transition: all 0.4s ease;
}

.team__card:hover .team__card-inner::after {
  opacity: 1;
  border-radius: 5px;
}

.team__card:hover .team__img img {
  border-radius: 5px;
}

.team__card:hover .icon {
  opacity: 1;
  visibility: visible;
}

.team__card:hover .thinktech__instructor-desc {
  color: var(--color-primary);
}

/* ===========================================
MOBILE VIEW 
=============================================*/

@media screen and (min-width: 1500px) {
  .team__card-inner::after {
    width: 450px;
  }

  .hover-items {
    width: 450px;
  }

  .team__img {
    width: 450px;
    height: 500px;
  }

  .thinktech__instructor-info {
    width: 450px;
    margin-top: 25px;
  }
}

@media screen and (max-width: 1200px) {
  .team__wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}

@media screen and (max-width: 900px) {
  .about__team-bg {
    display: none;
  }

  .team__wrapper {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .hover-items {
    width: 300px;
  }

  .team__card-inner::after {
    width: 100%;
  }

  .team__img {
    width: 100%;
    height: 100%;
  }

  .team__img img {
    width: 100%;
  }

  .thinktech__instructor-info {
    width: 300px;
  }
}
