.notfound__page {
  background-image: url("../../assets/bg/bg-dark.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10rem 0;
}

.notfound__con {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  /* gap: 5rem; */
}

.notfound-img {
  width: 400px;
}

.notfound-img img {
  width: 100%;
  object-fit: cover;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.error-message {
  color: var(--white);
  text-align: center;
}

.error-message-heading {
  font-size: 25rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 15px;
  background-image: linear-gradient(180deg, #170d36 8%, #01bafd, #200769);
  background-clip: text;
  /* background-position: left; */
  /* background-size: 200%; */
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animate 3s linear infinite;
  transition: all 1s linear;
}

/* .error-message-heading:hover {
  background-image: linear-gradient(45deg, #170d36 8%, #01bafd, #200769);
  background-position: right;
} */

@keyframes animate {
  0% {
    background-position: left;
  }
  100% {
    background-image: linear-gradient(45deg, #170d36 8%, #01bafd, #200769);
    background-position: right;
  }
}

.error-message-txt {
  font-size: 5rem;
  font-weight: bold;
}

.something_wrong {
  font-size: 1.8rem;
  margin-bottom: 4rem;
}

.page-error-btn {
  background: transparent;
  color: var(--white);
  font-size: 2rem;
  /* font-weight: bold; */
  border: 1px solid var(--white);
  padding: 15px 30px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 2rem;
  transition: var(--transition);
}

.page-error-btn:hover {
  letter-spacing: 2px;
  font-weight: 600;
}

/*============================== 
MOBILE SCREEN 
===============================*/
@media screen and (max-width: 900px) {
  .notfound__con {
    justify-content: center;
  }

  .notfound-img {
    display: none;
  }

  .error-message-heading {
    font-size: 15rem;
    letter-spacing: 10px;
  }

  .error-message-txt {
    font-size: 4rem;
  }

  .something_wrong {
    font-size: 1.7rem;
  }
}
